<!DOCTYPE html>
<html>
<head>
    <title>HandWritten</title>
    style
        include ../static/style.css
</head>
<body>
    <div class="container">
        img(src="../static/1out.png", alt="img1", class="genimg")
        img(src="../static/1out.png", alt="img1", class="genimg")
        <button class="btn"><a href="../static/new.pdf">Download Pdf</a></button>
    </div>
</body>
</html>