<!DOCTYPE html>
<html>
<head>
    <title>Handwritten</title>
    style
        include ../static/style.css
</head>
<body>
    <div class="container">
    <h1>Text to Hanwritten</h1>
    
    <form action="/" method="post" id="contact">
        <textarea name="text" id="text" placeholder="Enter you text"></textarea>
        <button class="btn">Submit</button>
    </form>
    </div>

</body>
</html>